@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Yatra+One&display=swap");
@font-face {
  font-family: "Glacial Indifference";
  font-style: normal;
  font-weight: 400;
  src: local("Glacial Indifference"),
    url("/fonts/GlacialIndifference-Regular.woff") format("woff");
}

@tailwind base;
@tailwind components; 
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


